[Unit]
Description=OSSEC HIDS (Observable Networks distribution)
After=network.target 

[Service]
User=suricata
Group=suricata
WorkingDirectory=/opt/suricata/
ExecStart=/usr/bin/suricata -c /opt/suricata/suricata.yaml --af-packet

[Install]
WantedBy=multi-user.target
