[Unit]
Description=Suricata IDS (Observable Networks distribution)
After=network.target

[Service]
WorkingDirectory=/opt/suricata/
ExecStart=/opt/suricata/run_suricata.sh

[Install]
WantedBy=multi-user.target
